<% include ./partials/header %>

<div class="ui main text container segment"> 
    <div class="ui huge header"> 
           EDIT <%= blog.title %>
    </div>

     <form class="ui form"  action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
  <div class="field">
    <label> TITLE </label>
    <input type="text" name="blog[title]" value="<%= blog.title %>">
  </div>

  <div class="field">
    <label> IMAGE </label>
    <input type="text" name="blog[image]" value="<%= blog.image %>">
  </div>

  <div class="field">
    <label> CONTENT </label>
    <textarea name="blog[body]" placeholder="What's in your mind Say It !!! "><%= blog.body %></textarea>
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" >
      <label>I agree to the Terms and Conditions</label>
    </div>
  </div>
  <button class="ui teal basic button" type="submit">Submit</button>
</form>

</div>

<% include ./partials/footer %>

